# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = property_crawler.settings

[deploy]
url = http://localhost:5000/
project = property_crawler
